@model UpdateInstructorDto

@{
    ViewData["Title"] = "Eğitmen Güncelle";
}

<h3>@ViewBag.Title</h3>

<form method="post">
    <input type="hidden" asp-for="InstructorId" />
    <label>Profil Resmi Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Ad</label>
    <input type="text" asp-for="FirstName" class="form-control" />
    <br />
    <label>Soyad</label>
    <input type="text" asp-for="LastName" class="form-control" />
    <br />
    <label>Ünvan</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>