@*
    _HomepageTopBar
*@

<!-- Spinner Start -->
<div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->
<!-- Navbar Start -->
<div class="container-fluid border-bottom bg-light wow fadeIn" data-wow-delay="0.1s">
    <!-- Üst Bilgi Barı -->
    <div class="container topbar bg-primary d-none d-lg-block py-2" style="border-radius: 0 40px">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Meram - Konya</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="mailto:info@royalbaby.com" class="text-white">info@royalbaby.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-secondary"></i></a>
                <a href="#" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-instagram text-secondary"></i></a>
                <a href="#" class="btn btn-light btn-sm-square rounded-circle"><i class="fab fa-youtube text-secondary"></i></a>
                <a href="#" class="btn btn-light btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-secondary"></i></a>
            </div>
        </div>
    </div>

    <!-- Menü Alanı -->
    <div class="container px-0">
        <nav class="navbar navbar-light navbar-expand-xl py-3">
            <a href="~/index.html" class="navbar-brand">
                <h1 class="text-primary display-6">Royal<span class="text-secondary">Baby</span></h1>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="~/index.html" class="nav-item nav-link active">Anasayfa</a>
                    <a href="~/about.html" class="nav-item nav-link">Hakkımızda</a>
                    <a href="~/service.html" class="nav-item nav-link">Hizmetlerimiz</a>
                    <a href="~/program.html" class="nav-item nav-link">Programlar</a>
                    <a href="~/event.html" class="nav-item nav-link">Etkinlikler</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sayfalar</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0">
                            <a href="~/blog.html" class="dropdown-item">Blog</a>
                            <a href="~/team.html" class="dropdown-item">Ekibimiz</a>
                            <a href="~/testimonial.html" class="dropdown-item">Danışan Yorumları</a>
                            <a href="~/404.html" class="dropdown-item">404 Sayfası</a>
                        </div>
                    </div>
                    <a href="~/contact.html" class="nav-item nav-link">İletişim</a>
                </div>
                <div class="d-flex me-4">
                    <div id="phone-tada" class="d-flex align-items-center justify-content-center">
                        <a href="tel:+905555555555" class="position-relative wow tada" data-wow-delay=".9s">
                            <i class="fa fa-phone-alt text-primary fa-2x me-4"></i>
                            <div class="position-absolute" style="top: -7px; left: 20px;">
                                <span><i class="fa fa-comment-dots text-secondary"></i></span>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex flex-column pe-3 border-end border-primary">
                        <span class="text-primary">Sorunuz mu var?</span>
                        <a href="tel:+905555555555"><span class="text-secondary">Ücretsiz: +90 555 555 55 55</span></a>
                    </div>
                </div>
                <button class="btn-search btn btn-primary btn-md-square rounded-circle" data-bs-toggle="modal" data-bs-target="#searchModal">
                    <i class="fas fa-search text-white"></i>
                </button>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anahtar Kelime ile Ara</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="örnek: gelişim seansı, bebek spa..." aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
