@*
    _HomepageServiceComponent
*@

<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Hizmetlerimiz</h4>
            <h1 class="mb-5 display-3">Gülümseyen Yüzler, Sağlıklı Nesiller İçin Bütüncül Yaklaşım</h1>
        </div>
        <div class="row g-5">

            <!-- Oyun ve Etkinlik Atölyeleri -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-gamepad fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Oyun ve Etkinlik Atölyeleri</a>
                            <p class="my-3">
                                Ayşenur ve Alperen Bekaroğlu eşliğinde düzenlenen oyun temelli atölyeler; çocukların sosyal becerilerini, özgüvenini ve hayal gücünü geliştirir.
                            </p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Gelişim Seansları -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-brain fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Gelişim Seansları</a>
                            <p class="my-3">
                                Uzman çocuk gelişimci Ayşenur Bekaroğlu tarafından yürütülen bireysel seanslarla çocukların bilişsel, duygusal ve motor gelişimleri desteklenir.
                            </p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Aile Danışmanlığı -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-heart fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Aile Danışmanlığı</a>
                            <p class="my-3">
                                Ayşenur Bekaroğlu tarafından sunulan gelişim odaklı aile danışmanlığı seansları, ebeveynlerin çocuklarının gelişim sürecine bilinçli ve güvenli şekilde eşlik etmelerini sağlar.
                            </p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bebek Spa -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-spa fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Bebek Spa & Masaj</a>
                            <p class="my-3">
                                Ayşenur ve Alperen Bekaroğlu tarafından uygulanan bebek spa ve masaj hizmetleriyle hem gevşeme hem duyusal gelişim desteklenir.
                            </p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
