<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">Neler Yapıyoruz?</h4>
            <h1 class="mb-5 display-3">Eglenceli ve Etkili Ögrenme Deneyimleri</h1>
        </div>
        <div class="row g-5">
            <!-- Etkinlikli Eğitim -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-gamepad fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Oyunla Öğrenme</a>
                            <p class="my-3">Oyun temelli aktivitelerle çocukların öğrenme süreçleri hem eğlenceli hem kalıcı hale gelir.</p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tam Kapsamlı Programlar -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-sort-alpha-down fa-6x text-primary"></i></div>
                            <a href="#" class="h4">A’dan Z’ye Gelişim</a>
                            <p class="my-3">Bilişsel, fiziksel ve sosyal gelişimi bir arada destekleyen bütüncül programlarımızla yanınızdayız.</p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Uzman Eğitimciler -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-users fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Uzman Kadro</a>
                            <p class="my-3">Alanında uzman eğitimcilerimiz, her çocuğun bireysel gelişim ihtiyaçlarına uygun destek sağlar.</p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Psikolojik Destek -->
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center border-primary border bg-white service-item">
                    <div class="service-content d-flex align-items-center justify-content-center p-4">
                        <div class="service-content-inner">
                            <div class="p-4"><i class="fas fa-user-nurse fa-6x text-primary"></i></div>
                            <a href="#" class="h4">Duygusal Destek</a>
                            <p class="my-3">Çocukların ruhsal gelişimi için güvenli ve sevgi dolu bir ortam sunuyoruz.</p>
                            <a href="#" class="btn btn-primary text-white px-4 py-2 my-2 btn-border-radius">Detaylı Bilgi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
